# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TrainStation.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lukas\source\repos\TrainStation\.idea\.idea.TrainStation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
